/* header */

header {
  top: 30px;
  z-index: 100;
}

.navbar > .logo {
  width: 196px;
  height: 60px;
  background-image: url("/img/cabi_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -99999px;
}

.menu_list {
  position: relative;
  gap: 40px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.menu_list:hover .dropdown_menu {
  display: block;
}

.toggle_btn {
  text-indent: -1000px;
}

.search_modal {
  display: none;
}

.lang_dropdown {
  display: none;
}

/* sec1 */

.mainslide-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.mainslide-container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
}

.mainslide {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  list-style: none;
}

.sec1_wrapper {
  height: 500px;
}

.mainslide1 {
  background-image: url("https://velog.velcdn.com/images/rtminy/post/a31aea36-5a02-43a0-8b8e-7ada65c9a496/image.png");
}

.mainslide2 {
  background-image: url("https://velog.velcdn.com/images/rtminy/post/80a6e123-74e7-48e8-ac82-062830295d46/image.png");
}

.mainslide3 {
  background-image: url("https://velog.velcdn.com/images/rtminy/post/7ce16434-df6a-47bb-8138-7ae3bf0a1cf0/image.png");
}

.mainslide-wrapper .chev-wrap.left {
  left: 230px;
}
.mainslide-wrapper .chev-wrap.right {
  right: 230px;
}

/* sec2 */

.sec2_container {
  margin-top: 100px;
}

.sec2_wrapper {
  background: rgba(34, 34, 204, 0.5);
  height: 500px;
}

/* sec3 */

.sec3_wrapper {
  background: rgba(252, 151, 151, 0.5);
  height: 500px;
}

/* sec4 */

.sec4_wrapper {
  background: rgba(134, 134, 134, 0.067);
  height: 500px;
}

/* sec5 */

.sec5_wrapper {
  background: #3a3a3a11;
  height: 500px;
}

/* footer */

.footer_logo img {
  height: 50px;
}
