/* header */
.navbar > .logo {
  width: 196px;
  height: 55px;
  background-image: url("/img/cabi_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -99999px;
}

.menu_list {
  gap: 30px;
}

/* .menu_list li ul li {
  position: absolute;
  visibility: hidden;
  opacity: 1;
} */

.toggle_btn {
  text-indent: -10000px;
}

.search_modal {
  display: none;
}

.lang_dropdown {
  display: none;
}

/* sec1 */

.sec1_wrapper {
  background: #1111;
  height: 300px;
}

/* sec2 */

.sec2_wrapper {
  background: rgba(46, 46, 155, 0.067);
  height: 300px;
}

/* sec3 */

.sec3_wrapper {
  background: rgba(252, 151, 151, 0.067);
  height: 300px;
}

/* sec4 */

.sec4_wrapper {
  background: rgba(134, 134, 134, 0.067);
  height: 300px;
}

/* sec5 */

.sec5_wrapper {
  background: #3a3a3a11;
  height: 300px;
}

/* footer */

.footer_logo img {
  height: 50px;
}
