/* section5- 민용 */

.Sec5_left {
  width: 400px;
  height: 500px;
  margin-right: 20px;
}

.Sec5_left img {
  width: 380px;
  height: 450px;
}

.sec5_more {
  margin-left: auto;
  margin-top: auto;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #999;
  cursor: pointer;
  margin-right: 20px;
}

/* 슬라이더부분 */

.sec5_slider_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: transparent;
}
.sec5_wrapper div {
  gap: 15px;
}
.Sec5_right {
  width: 400px;
  height: 500px;
}

.sec5_slider1 {
  animation: slideAnimation 30s linear infinite;
  gap: 10px;
}

.sec5_slider2 {
  animation: slideAnimation2 40s linear infinite;

  gap: 10px;
}

.sec5_slider1 img,
.sec5_slider2 img {
  transition: transform 0.5s;
  object-fit: cover;
}

.sec5_slider1 img:hover,
.sec5_slider2 img:hover {
  transform: scale(1.05);
}

.slider_box {
  height: 500px;
  overflow: hidden;
}

.bg_move_slider {
  width: 100%;
  height: 300px;
  font-size: 300px;
  overflow: hidden;
  position: absolute;
  text-indent: -999em;
  width: 130px;
  height: 47px;
  display: block;
}

header .toggle_btn {
  position: relative;
}

.hamburger_modal {
  position: absolute;
  top: 180px;
  left: 62%;
  display: none;
  transform: translateX(50%);
}

/* 나이트모드 */

/* 화이트 모드 상시 off */
header .navbar-brand a:last-child {
  display: none;
}
.sec5_img li {
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  object-fit: cover;
  background-size: 100% 100%;
  margin-right: 10px;
  cursor: pointer;
}

/* 토글버튼 상시 off */
header .toggle_btn img:last-child {
  display: none;
}
/* 다크모드 시  */

/* 클릭 시 배경색 전환 */
header .dark_mode.bottom_menu {
  background: linear-gradient(var(--light_g6) 85px, rgba(6, 45, 97) 50px);
}

/* GNB 메뉴 클릭시 색상 변경 */
header .dark_mode.bottom_menu .menu_list > li > a {
  color: #fff;
}
header .dark_mode .bottom_menu {
  background: #000;
}
header .dark_mode .bottom_list h1 a:last-child {
  display: block;
}
header .dark_mode .bottom_list h1 a:first-child {
  display: none;
}
/* footer- 민용 */

header .dark_mode .toggle_btn img:first-child {
  display: none;
}
header .dark_mode .toggle_btn img:last-child {
  display: block;
}

.sec5_slider {
  width: 100%;
  height: 393px;
  object-fit: cover;
}

.mainSec5_container {
  width: 820px;
  height: 800px;
  margin: 0 auto;
}

.Sec5_left {
  width: 400px;
  height: 500px;
  margin-right: 20px;
}

.Sec5_left img {
  width: 380px;
  height: 450px;
}

.sec5_more {
  margin-left: auto;
  margin-top: auto;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #999;
  cursor: pointer;
  margin-right: 20px;
}

/* 슬라이더부분 */

.sec5_slider_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: transparent;
}
.sec5_wrapper div {
  gap: 15px;
}
.Sec5_right {
  width: 400px;
  height: 500px;
}

.sec5_slider1 {
  animation: slideAnimation 30s linear infinite;
  gap: 10px;
}

.sec5_slider2 {
  animation: slideAnimation2 40s linear infinite;

  gap: 10px;
}

.sec5_slider1 img,
.sec5_slider2 img {
  transition: transform 0.5s;
  object-fit: cover;
}

.sec5_slider1 img:hover,
.sec5_slider2 img:hover {
  transform: scale(1.05);
}

/* 민용 */
.sec5_p {
  font-weight: 600;
}

.Sec5_left > p {
  font-family: "Gmarket Sans";
  font-size: 20px;
  color: #999;
}

.Sec5_left > h2 {
  font-size: 35px;
}

.Sec5_left > h2 > p {
  font-family: "Gmarket Sans";
  font: 800;
  line-height: 10px;
}

.sec5_sns {
  height: 250px;
  color: black;
  z-index: -5;
  top: 100px;
}

.sec5_sns p {
  margin: 20px 0;
  font-family: "Gmarket Sans";
  font-size: 20px;
  font-weight: 500;
}

.sec5_img li {
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  object-fit: cover;
  background-size: 100% 100%;
  margin-right: 10px;
  cursor: pointer;
}

.sec5_img li:nth-of-type(1) {
  background-image: url(/Sub/my/image/slide_image/instagram.png);
}
.sec5_img li:nth-of-type(2) {
  background-image: url(/Sub/my/image/slide_image/naver.png);
}
.sec5_img li:nth-of-type(3) {
  background-image: url(/Sub/my/image/slide_image/youtube.png);
}
.sec5_img li:nth-of-type(4) {
  background-image: url(/Sub/my/image/slide_image/twitter.png);
}

/* footer- 민용 */

footer {
  width: 100%;
  margin: 0 auto;
  height: 480px;
  flex-shrink: 0;
  background-image: url(/Sub/my/image/footer.png);
  padding: 200px;
}

.footer_wrap {
  width: 1320px;
  margin: 0 auto;
}

.footer_logo {
  padding-right: 50px;
}

.footer_content {
  padding-bottom: 20px;
}

.footer_content a {
  color: white;
  font-family: "S-Core Dream";
  font-weight: 500;
  font-size: 17px;
}

address,
.copyright {
  font-family: "S-Core Dream";
  font-weight: 200;
  letter-spacing: 1px;
  color: white;
  line-height: 25px;
}
